{% extends 'employees/employee_base.html' %}
<?php
    $db = mysqli_connect('trash_collector','root','toor','databasename');

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!
    <br />
    <br />
    Today's date is: {{weekday}} {{my_date}}
    <br />
    <br />
    {% for customers in local_customers %}
    Customers In My Area: {{customers.name}}
    <br />
    <br />
   {% endfor %}
   {% for customers in my_weekly_pickups %}
   Today's Current Pickups: {{customers.name}}
   <form method='POST'>
     {% csrf_token %}
     {{ form.as_p }}
   <button type="submit" class="btn btn-outline-primary btn-sm" value="submit">Confirm</button>
   </form>
   <br />
   <br />
   {% endfor %}
   {% for customers in my_one_time_pickups %}
   Today's One-Time Pickups: {{customers.name}}
  {% endfor %}
</ul>
<button type="button" class="btn btn-outline-primary btn-sm">
  <a class="text-dark text-uppercase text-decoration-none" href="{% url 'employees:register_pickup' %}">Confirm Pickups</a>
</button>
      
   

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}